/* NavBar */
.navBar {
    background-color: #0A0A0A;

} 
.navBar .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}
.navbar .container .nav {
    display: flex;
}
.navbar .container .nav .navLink:hover{
    color: #00D425;
}