@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
.root,
:root,
#root,
#docs-root {
  --scarlett: #da0000;
  --main-background: #0A0A0A;
  --grey: #414141;
  --text-white: #FDF6F0;
}

/* Miscellaneous */
/* Use for everwhere that isn't the navlink */
.hover-scarlett:hover {
  color: var(--scarlett);
  transition: .2s;
  cursor: pointer;
}

/* NavBar.js */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: var(--main-background);
  display: flex;
  align-items: center;
}
.navbar .navBar-brand {
  @apply inline-flex font-sans items-center px-3 mr-4 text-text_white hover:text-scarlett text-4xl font-bold tracking-widest;
  transition: .2s;
}
.navbar .navLinks {
  margin-left: auto;
}
.navbar .navLinks .navLink {
  @apply text-xl font-sans inline-flex px-3 items-center rounded leading-3 text-text_white hover:text-scarlett;
  transition: .2s;
}

/* SocialLinks.js */
.socialLinks {
  position: fixed;
  bottom: 30px;
  left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  z-index: 5;
}
.socialLinks .LinkedIn {
  padding: 15px;
  position: fixed;
  bottom: 95px;
  left: 20px;
}
.socialLinks .GitHub {
  padding: 15px;
  position: fixed;
  bottom: 30px;
  left: 20px;
}
.LinkedIn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.15s;
}
.GitHub:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.15s;
}

body {
  background-color: #0A0A0A;
}

/* Home.js */
.homePage {
  @apply flex justify-center px-8;
  padding-top: 100px;
}
.homePage .section {
  @apply rounded-lg p-10;
  position: relative;
  top: 70px;
  height: 400px;
  width: 900px;
}
.homePage .section h1 {
  color: var(--text-white);
  font-size: 50px;
}
.homePage .section h1 .name{
  color: var(--scarlett);
}
.homePage .section h2 {
  color: var(--text-white);
  font-size: 25px;
  position: relative;
  top: 40px;
}
.homePage .section h3 {
  color: var(--text-white);
  font-size: 20px;
  position: relative;
  top: 60px;
}
button {
  background-color: var(--scarlett);
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 610px;
  top: 25px;
}

/* Project.js */
.projectPage {
  @apply min-h-screen p-12;
  padding-top: 70px;
  background-color: #0A0A0A;
}
.projectPage .section {
  @apply container mx-auto;
}
.projectPage .section .title {
  @apply text-5xl flex justify-center;
}
.projectPage .section .subtitle {
  @apply text-lg text-gray-600 flex justify-center mb-12;
}
.projectPage .section .grids {
  @apply grid grid-cols-2 gap-8;
}
.projectPage .section .grids .projectCard {
  @apply relative rounded-lg shadow-xl bg-white p-16 transition-all hover:bg-black duration-300;
}
.projectPage .section .grids .projectCard .projectTitle {
  @apply text-gray-800 text-3xl font-bold mb-2 hover:text-red-700;
  width: 40%;
}

/* About.js */
.aboutPage {
  padding-top: 70px;
}