@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
.root,
#root,
#docs-root {
  --scarlett: #DA0000; 
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* NavBar.js */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: black;
  display: flex;
  z-index: 10;
}
.nav .navBar-brand {
  @apply inline-flex font-sans items-center px-3 mr-4 text-red-100 hover:text-green-800 text-4xl font-bold tracking-widest;
  
}
.nav .navLink {
  @apply text-xl font-sans inline-flex px-3 items-center rounded text-red-200 hover:text-green-800;
}

/* Home.js */
.homePage {
  padding-top: 100px;
}
.homePage .section {
  @apply flex justify-center min-h-screen pt-12 lg:pt-64 px-8;
}
.home-name {
  font-size: 150px;
}
.homePage .section .h1 {
  @apply text-6xl text-scarlett font-bold leading-none lg:leading-snug home-name;
}

/* Project.js */
.projectPage {
  @apply bg-green-100 min-h-screen p-12;
  padding-top: 100px;
}
.projectPage .section {
  @apply container mx-auto;
}
.projectPage .section .title {
  @apply text-5xl flex justify-center;
}
.projectPage .section .subtitle {
  @apply text-lg text-gray-600 flex justify-center mb-12;
}
.projectPage .section .grids {
  @apply grid grid-cols-2 gap-8;
}
.projectPage .section .grids .projectCard{
  @apply relative rounded-lg shadow-xl bg-white p-16 transition-all hover:bg-black duration-300;
}
.projectPage .section .grids .projectCard .projectTitle{
  @apply text-gray-800 text-3xl font-bold mb-2 hover:text-red-700;
  width: 40%;
}